pymongo[srv]
motor
pymongo
psutil
TgCrypto
pykeyboard
python-arq
requests
python-dotenv
regex!=2021.8.27
cachetools
uvloop
pytz
dateparser
gpytranslate
EmojiCaptcha
captcha
googletrans
telegraph
Pyrogram==2.0.106
pyyaml
gitpython
dnspython==2.1.0
httpcore==0.14.0
