pymongo[srv]
motor
pymongo
psutil
TgCrypto
pykeyboard
python-arq
requests
python-dotenv
regex!=2021.8.27
cachetools
uvloop
pytz
dateparser
gpytranslate
EmojiCaptcha
captcha
googletrans
telegraph
pyyaml
gitpython==3.1.24
dnspython==2.1.0
httpcore==1.0.2
